.homeBG {
    margin: 20px 15px 0 15px;

    img {
        width: 100%;
    }
}

.homeCon {

    h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 70px;
    margin: 0 auto 40px 30px;
    color: $main-color;
    }

     p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 30px 50px 30px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    }
}

.skillsCon {
    text-align: center;
    padding: 0 40px;
    background-color: $main-color;

    h1 {font-size: 24px; font-weight: 600; margin-bottom: 30px; color: white;}
    p {font-size: 18px; color: white;}
}

.homeskills {
    padding-bottom: 65px;
}

#skills {
    font-size: 50px;
    font-weight: 600;
    padding: 65px 0 60px 0;
    margin: 0;
}








@media screen and (min-width:680px) {
    .homeCon {

        h1 {
            font-size: 123px;
            line-height: 134px;
        }

        p {
            margin: 0 100px 50px 100px;
        }
    }


    .homeskills {display: flex; justify-content: space-around;}
    .skillsCon {padding: 0 60px;}
} 

@media screen and (min-width:1024px) {
    .homeCon {

        h1 {
            font-size: 190px;
            line-height: 221px;
            margin: 0 100px 60px 100px;
        }

        p {
            margin: 0 100px 50px 100px;
        }
    }
} 